<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - animatchWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/animatchWeb.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/bf8c2b6ec3.js" crossorigin="anonymous"></script>

    @if (TempData.ContainsKey("AlertMessage"))
    {
        <script>
            alert('@TempData["AlertMessage"]');
        </script>
    }

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent mb-3">
            <div class="container-fluid flex-row justify-content-between">
	            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
		            <img src="/assets/images/logo.png" alt="logo" width="300" height="70" class="nav-logo"/>
	            </a>
                <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex  justify-content-between">
	                <ul class="navbar-nav gap-3 flex-grow-1">
		                <li class="nav-item flex-column align-content-center justify-content-center">
			                <a asp-area="" asp-controller="Home" class="nav-elem" asp-action="Index">
				                <img src="/assets/images/search.svg" class="nav-img" alt="home" width="36" height="36" />
				                <p class="nav-text">пошук</p>
			                </a>
		                </li>
		                <li class="nav-item flex-column align-content-center justify-content-center">

                                <a asp-area="" asp-controller="Home" class="nav-elem" asp-action="Random">
				                <img src="/assets/images/random.png" class="nav-img" alt="random" height="36" width="36"/>
				                <p class="nav-text">рандом</p>
			                </a>
		                </li>
	                </ul>
	                <partial name="_LoginPartial" />
                </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            animatchWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">тут могла бути ваша реклама</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
