@model IEnumerable<animatchWeb.Models.Anime>

@{
	ViewData["Title"] = "LikedList";
}

<main>
	<div class="container p-5">
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-lg-3 col-md-6 col-sm-12 liked">
					<a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
						<div class="card">
							<img src="@item.Photo" class="card-img-top" alt="...">
							<div class="card-body">
								<p class="card-text">@item.Name</p>
							</div>
						</div>
					</a>
				</div>
			}

		</div>
	</div>
</main>