		@page
		@model LoginModel

		@{
		    ViewData["Title"] = "Log in";
		}

		<div class="container login">
			<img src="/assets/images/logoBig.png" alt="big logo" height="189" width="669" class="login-img"/>
			<section>
				<form class="account" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
					<div class="form-login">
						<label  asp-for="Input.Email" class="form-label">пошта</label>
						<input asp-for="Input.Email" class="form-login-input"  aria-required="true" placeholder="name@example.com"/>
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="form-login">
						<label asp-for="Input.Password" class="form-label">пароль</label>
						<input asp-for="Input.Password" class="form-login-input" autocomplete="current-password" aria-required="true" placeholder="password"/>
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div class="checkbox mt-2">
						<label asp-for="Input.RememberMe" class="form-label">
							<input class="form-check-input" asp-for="Input.RememberMe"/>
							Запам'ятати мене
						</label>
					</div>
					<div class="form-btn">
						<button class="btn-border " type="submit">Вхід</button>
					</div>
				</form>
			</section>
		</div>
		    
		    


		@section Scripts {
		    <partial name="_ValidationScriptsPartial" />
		}
