@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container login">
	<img src="/assets/images/logoBig.png" alt="big logo" height="189" width="669" class="login-img"/>
	<section> 
		<form class="account register" asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
			<div class="form-login">
				<label class="form-label" asp-for="Input.Email">Email</label>
				<input asp-for="Input.Email" class="form-login-input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="form-login">
				<label class="form-label" asp-for="Input.Password">Password</label>
				<input asp-for="Input.Password" class="form-login-input" autocomplete="new-password" aria-required="true" placeholder="password" />
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-login">
				<label class="form-label" asp-for="Input.ConfirmPassword">Confirm Password</label>
				<input asp-for="Input.ConfirmPassword" class="form-login-input" autocomplete="new-password" aria-required="true" placeholder="password" />
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-border mb-5">створити акаунт</button>
			<a class="text-btn mt-1" asp-page="./Register">Уже маєте акаунт?</a>
		</form>


	</section>
 </div>
    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
